@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@font-face {
     font-family: 'BukhariScript';
     src: url('/public/font/Bukhari-Script.ttf') format('truetype');
}
